body {
    background-image: url(mardukmap.jpg);
    background-size: cover;
      background-repeat: no-repeat;
      font-size: xx-large;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .homee {
    background-image: url("MAR.webp");
    background-size: cover;
    background-position: center;
    color: black;
    padding: 50px;
    width: 80%; 
    margin: 100px;
    box-shadow: 0 0 80px black;
    border-radius: 10px; border: 2px solid darkgrey;
    transition: opacity 1.3s ease-in-out; 
}
.homeee {
    background-image: url("STE.webp");
    background-size: cover;
    background-position: center;
    color: black;
    padding: 50px;
    width: 80%; 
    margin: 100px;
    box-shadow: 0 0 80px black;
    border-radius: 10px; border: 2px solid darkgrey;
    transition: opacity 1.3s ease-in-out;
}
.homeeee {
    background-image: url("BRYA.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    padding: 50px;
    width: 80%; 
    margin: 100px;
    box-shadow: 0 0 80px black;
    border-radius: 10px; border: 2px solid darkgrey;
    transition: opacity 1.3s ease-in-out;
}
.homeeeee {
    background-image: url("JA.webp");
    background-size: cover;
    background-position: center;
    color: black;
    padding: 50px;
    width: 80%; 
    margin: 100px;
    box-shadow: 0 0 80px black;
    border-radius: 10px; border: 2px solid darkgrey;
    transition: opacity 1.3s ease-in-out;
}
.homeeeeee {
    background-image: url("KI.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    padding: 50px;
    width: 80%; 
    margin: 100px;
    box-shadow: 0 0 80px black;
    border-radius: 10px; border: 2px solid darkgrey;
    transition: opacity 1.3s ease-in-out;
}
.homeeeeeee {
    background-image: url("PAU.webp");
    background-size: cover;
    background-position: center;
    color: black;
    padding: 50px;
    width: 80%; 
    margin: 100px;
    box-shadow: 0 0 80px black;
    border-radius: 10px; border: 2px solid darkgrey;
    transition: opacity 1.3s ease-in-out;
    
}
.homee:hover {
    transition: transform 1.3s;
    transform: scale(1.1);
}

.homee1 {
    max-width: 600px;
}



p {
    font-size: x-large;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hoeme {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.hoeme:hover {
    background-color: darkgrey;
}
